.imges {
    float: right;
    text-align: center;
    width: 13%;
    padding: 10px;
    font-size: 15px;
}

#imges {
    float: left;
    padding-right: 0px;
    background-color: rgb(230, 46, 159);
}

.advance {
    float: right;
    text-align: center;
    width: 20%;
    padding: 10px;
    font-size: 15px;
}

#advance {
    float: left;
    padding-right: 0px;
    background-color:rgb(178, 230, 46);
}

.google_header {
    text-align: center;
    padding-top: 20;
    font-size: 50px;
}

.search {
    float: right;
    text-align: center;
    width: 22%;
    padding: 10px;
    font-size: 15px;
}

#search {
    float: left;
    padding-right: 0px;
    background-color: rgb(46, 230, 184);
}

.srgoogle {
    display: flex;
    padding-top: 0px;
    justify-content: center;
}

input {
    width: 40%;
    padding: 10px;
    border-radius: 10px;
}

input:hover {
        border-style: 1px solid;
        border-color: silver;
}

.submit {
    display: flex;
    justify-content: center;
}

button {
    padding: 10px;
    border-color: blue;
    border-radius: 10px;
}

button:hover {
        background-color: blue;
        color: white;
}